.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  &__logo {
    &__wrapper {
      &--mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    &__line {
      background-color: #645293;;
      width: 50px;
      height: 3px;
      margin: 0 10px;
    }
  }
  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    &--mobile {
      margin: 0;
      padding: 0;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      transform: translateX(-100%);
      align-items: center;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 10;
      background-color: #fff;
      transition: transform .4s ease-in-out;
    }
  }
  &__item {
    list-style: none;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    &--mobile {
      list-style: none;
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: #32325d;
    font-family: Brown;
    font-size: 19px;
    font-weight: bold;
    transition: color .1s cubic-bezier(0.5, 0.31, 0.84, 0.05);
    &:hover {
      color: #645293;
    }
    &--signIn {
      box-shadow: -7px 7px 20px rgba(132, 92, 255, 0.2);
      border-radius: 3px;
      background-color: #845cff;
      text-align: center;
      line-height: 1;
      display: block;
      color: #fff;
      padding: 10px 20px 15px 20px;
      transition: color .1s cubic-bezier(0.5, 0.31, 0.84, 0.05);
      &:hover {
        color: #000;
      }
    }
  }
}

.menu--active {
  transform: translateX(0%);
}